.body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0;
    text-align: center;
}

.review {
    width: 80%;
    height: 400px;
    margin: 20px auto 30px auto;
    background-color: white;
    box-shadow: 0 14px 60px rgba(255, 222, 78, 0.5), 0 10px 10px rgba(255, 222, 78, 0.5);
    position: relative;
    border: 3px solid rgb(255, 231, 97);
    border-radius: 20px;
}

.rev img {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 25%;
    height: 70%;
}

.rev ul {
    position: absolute;
    display: inline-block;
    text-align: left;
}

li {
    text-align: center;
    list-style: none;
    margin-bottom: 30px;
    padding-right: 20px;
    font-size: 20px;
    width: 320px;
}

ul p{
    margin: 0 0 10px 0;
    text-align: center;
    font-weight: 700;
    background-color: rgb(255, 187, 60);
    color: honeydew;
}

.footer {
    clear: both;
    text-align: center;
}

.board {
    position: absolute;
    width: 100%;
    height: 150px;
    font-size: 40px;
    font-weight: 700;
    align-items: center;
}

.board p {
    display: inline-block;
    width: 250px;
    color: rgb(196, 126, 22);
}

img {
    border-radius: 20px;
}

.notice {
    background-image: url(img/banner.jpg);
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 300px;
    text-align: center;
}

.board2 {
    position: absolute;
    align-items: center;
    background-color: white;
    box-shadow: 0 14px 60px rgba(255, 222, 78, 0.5), 0 10px 10px rgba(255, 222, 78, 0.5);
    width: 80%;
    height: 200px;
    left: 10%;
    top: 50%;
    font-size: 20px;
    color: rgb(136, 136, 136);
    font-weight: 600;
}

.board2 p {
    margin-top: 50px;
}

#first {
    width: 80%;
    height: 400px;
    margin: 70px auto 30px auto;
    background-color: white;
    position: relative;
    border: 3px solid rgb(255, 231, 97);
    border-radius: 20px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
        color: gold;
}

.fill{
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
        color: gold;
}

/* footer CSS */

footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(224, 224, 224);
    padding: 36px 160px;
  }
  
  #social-link ul {
    display: flex;
  }
  
  #social-link ul li {
    margin-right: 12px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: rgb(242, 242, 242);
    text-align: center;
    padding-right: 0;
  }
  
  #social-link ul li i {
    font-size: 32px;
    color: rgb(112, 112, 112);
    line-height: 48px;
  }